<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
</head>
<body>

<form th:action="@{/employee/{id}/edit}" method="POST" th:object="${employee}">

    <input type="hidden" th:field="*{id}" th:value="${employee.id}"/>

    <label for="name">Имя:</label><br/>
    <input type="text" th:field="*{name}" id="name" th:value="${employee.name}"/><br/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div><br/>

    <label for="surname">Фамилие:</label><br/>
    <input type="text" th:field="*{surname}" id="surname" th:value="${employee.surname}"/><br/>
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div><br/>

    <label for="position">Должность:</label><br/>
    <select th:field="*{position}" id="position">
        <option value="WORKER" th:selected="${employee.position == 'WORKER'}">Рабочий</option>
        <option value="MANAGER" th:selected="${employee.position == 'MANAGER'}">Менеджер</option>
        <option value="CHIEF" th:selected="${employee.position == 'CHIEF'}">Начальник</option>

        <input type="hidden" th:field="*{trip}" th:value="${employee.trip}"/>

    </select><br/>

    <input type="submit" value="Обновить">
</form>

<script>
    document.getElementById("name").addEventListener("input", function() {
        validateInput(this);
    });

    document.getElementById("surname").addEventListener("input", function() {
        validateInput(this);
    });

    function validateInput(input) {
        var regex = /[А-Яа-яЁё]+/;
        var value = input.value;
        var isValid = regex.test(value);

        if (!isValid) {
            input.setCustomValidity("Пожалуйста, используйте только русские буквы.");
        } else {
            input.setCustomValidity("");
        }
    }
</script>

</body>
</html>