<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>

<p>ID: <span th:text="${employee.getId()}"></span></p>
<p>Имя: <span th:text="${employee.getName()}"></span></p>
<p>Фамилие: <span th:text="${employee.getSurname()}"></span></p>
<p>Должность: <span th:text="${employee.getPosition()}"></span></p>
<p>Командировка:
    <th:block th:with="tripInfo=${employee.getTrip()}">
        <td th:text="${tripInfo != null && (tripInfo.getEndDate() > T(java.time.LocalDate).now()) ? 'Город: ' + tripInfo.city + ', Даты: ' + tripInfo.startDate + ' - ' + tripInfo.endDate : 'Не в командировке'}"></td>
    </th:block>

<form th:if="${employee.trip != null}" th:method="POST" th:action="@{/employee/{id}/deletetrip(id=${employee.getId()})}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Удалить командировку">
    <br/>
</form>

<form th:if="${employee.trip != null}" th:method="GET" th:action="@{/employee/{id}/addtrip(id=${employee.getId()})}">
    <input type="submit" value="Изменить командировку">
    <br/>
</form>

<form th:if="${employee.trip == null}" th:method="GET" th:action="@{/employee/{id}/addtrip(id=${employee.getId()})}">
    <input type="submit" value="Добавить командировку">
    <br/>
</form>

<form th:method="GET" th:action="@{/employee/{id}/edit(id=${employee.getId()})}">
    <input type="submit" value="Изменить">
    <br/>
</form>
<form th:method="DELETE" th:action="@{/employee/{id}/delete(id=${employee.getId()})}">
    <input type="submit" value="Удалить">
    <br/>
</form>
<form action="/employee" method="GET">
    <button type="submit">Вернуться к списку</button>
</form>
</body>
</html>