<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List employees</title>
</head>
<body>
<h1>Список работников</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилие</th>
        <th>Должность</th>
        <th>Командировка</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.surname}"></td>
        <td th:text="${employee.position}"></td>
        <th:block th:with="tripInfo=${employee.getTrip()}">
            <td th:text="${tripInfo != null && (tripInfo.getEndDate() > T(java.time.LocalDate).now()) ? 'Город: ' + tripInfo.city + ', Даты: ' + tripInfo.startDate + ' - ' + tripInfo.endDate : 'Не в командировке'}"></td>
        </th:block>
        <td>
            <a th:href="@{'/employee/' + ${employee.id}}">Детали</a>
        </td>
    </tr>
    </tbody>
</table>


<br/>
<hr/>

<a href="/employee/new">Добавить работника</a>
<form action="/" method="GET">
    <button type="submit">Главное меню</button>
</form>


</body>
</html>