<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List employees</title>
</head>
<body>
<h1>Список работников</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Position</th>
        <th>Travel</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.surname}"></td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.trip != null ? employee.trip.name : 'Не в командировке'}"></td>
        <td>
            <a th:href="@{'/employee/' + ${employee.id}}">Детали</a>
        </td>
    </tr>
    </tbody>
</table>

<br/>
<hr/>

<a href="/employee/new">Добавить работника</a>
</body>
</html>