
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Bisness_trip</title>
</head>
<body>
<h1>Главное меню:</h1>
<h2></h2>
<form action="/employee" method="GET">
    <button type="submit">Получить список работников</button>
</form>
<form action="/employee/new" method="GET">
    <button type="submit">Добавить работника</button>
</form>
<form action="/employee/find" method="GET">
    <button type="submit">Найти работника</button>
</form>
<h2>Командировки</h2>
<form action="/trip" method="GET">
    <button type="submit">Получить список командировок</button>
</form>

</body>
</html>